{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Tehtävä</th>
      <th>Tärkeys</th>
      <th>Kategoriat</th>
      <th>Tehty</th>
      <th colspan="3"></th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.importance }}</td>
      <td>{{ task.category }}</td>
      <td>{{ task.done }}</td>
      <td>
        <form method="POST" action="{{ url_for('tasks_set_done', task_id=task.id) }}">
          <input type="submit" value="Merkitse tehdyksi" class="btn btn-primary"/>
        </form>
      </td>
      <td>
          <form method="POST" action="{{ url_for('tasks_delete', task_id=task.id) }}">
            <input type="submit" value="Poista" class="btn btn-danger" />
          </form>
      </td>
      <td> 
        <a href="{{ url_for('tasks_edit', task_id=task.id) }}" class="btn btn-primary">Muokkaa</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
