{% extends "layout.html" %}
  
{% block body %}
  <form method="POST" action="{{ url_for('tasks_create') }}">
		<ul>
			{% for error in form.name.errors %}
			<li>name: {{ error }}</li>
			{% endfor %}
			{% for error in form.category.errors %}
			<li>category: {{ error }}</li>
			{% endfor %}
			{% for error in form.importance.errors %}
			<li>importance: {{ error }}</li>
			{% endfor %}
		</ul>
    <table>
      <tr>
				<td>
					{{ form.name.label }}
				</td>
				<td>
					{{ form.name }}
				</td>
			</tr>
			<tr>
				<td>
					{{ form.category.label }}
				</td>
				<td>
					{{ form.category }}
				</td>
				<td>
					{{ form.importance.label }}
				</td>
				<td>
					{{ form.importance }}
				</td>
				<td>
				</td>
      </tr>
      <tr>
				<td colspan="3">
					<input type="submit" value="Lisää uusi tehtävä!" class="btn btn-primary"/>
				</td>
			</tr>



		</table>
  </form>
	{% endblock %}
	